<nav>
  <h1>Hi.</h1>
  <a href="/">
    <img src="/assets/imgs/${avatar}" id="logo" alt="Blog logo"/>
  </a>
  <h2>I'm <a href="/">${name}</a>.</h2>
  <div id="bio">
    <p>💻I'm a compiler engineer at LAMP/EPFL, working on Scala 3.</p>
    <p>Check out the books I've written:</p>
    <p>📕<a href="https://www.amazon.com/Mastering-Functional-Programming-techniques-programming/dp/1788620798/">Mastering Functional Programming</a> – the motivation behind purely functional libraries such as Cats.</p>
    <p>📕<a href="/assets/files/story-of-one-library.pdf">[Free] A Story of One Library</a> – a commit-by-commit analysis of an application from the very start. The challenges that were arising during the implementation are addressed in a functional way, so that the reader can understand the motivation behind the functional techniques.</p>
  </div>
  <div id="social">
    Where to find me:
    <div id="stalker">
      <a title="${github} on Github" href="https://github.com/${github}">
        <i class="fa fa-github-square"></i>
      </a>

      <a title="${twitter} on Twitter" href="https://twitter.com/${twitter}">
        <i class="fa fa-twitter-square"></i>
      </a>

      <a title="${name} on LinkedIn" href="https://www.linkedin.com/in/${linkedin}">
        <i class="fa fa-linkedin-square"></i>
      </a>
    </div>
  </div>
</nav>
